<launch>
  
  <arg name="use_map"/>

  <!-- Velocity Smoother -->
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="navigation_velocity_smoother" 
              args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load"/>
    <remap from="navigation_velocity_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/navi"/>

    <!-- Robot velocity feedbacks; use the default base configuration -->
    <remap from="navigation_velocity_smoother/odometry" to="odom"/>
    <remap from="navigation_velocity_smoother/robot_cmd_vel" to="cmd_vel"/>
  </node>

  <!-- velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" 
          args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml"/>
    <remap from="cmd_vel_mux/output" to="cmd_vel"/>
  </node>
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/>

  <group if="$(arg use_map)">
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find base_navigation)/config/create/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find base_navigation)/config/create/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find base_navigation)/config/create/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find base_navigation)/config/create/global_costmap_params_with_map.yaml" command="load" /> 
    <rosparam file="$(find base_navigation)/config/create/base_local_planner_params.yaml" command="load" />
    <param name="recovery_behavior_enabled" value="false"/> 
    <rosparam file="$(find base_navigation)/config/create/global_map_extra.yaml"
                command="load"
                ns="global_costmap" />
    <rosparam file="$(find base_navigation)/config/create/local_map_extra.yaml"
                command="load"
                ns="local_costmap" />
    <remap from="/cmd_vel" to="/navigation_velocity_smoother/raw_cmd_vel"/>
    </node>
  </group>

  <group unless="$(arg use_map)">
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find base_navigation)/config/create/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find base_navigation)/config/create/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find base_navigation)/config/create/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find base_navigation)/config/create/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find base_navigation)/config/create/base_local_planner_params.yaml" command="load" />
    <param name="recovery_behavior_enabled" value="false"/> 
    <remap from="/cmd_vel" to="/navigation_velocity_smoother/raw_cmd_vel"/>
    </node>
  </group>

</launch> 