<launch>
	<arg name="base"/> <!-- Options: create and kobuki -->


	<group if="$(eval base =='create')">

	    <arg name="config" default="$(find ca_driver)/config/default.yaml" />
        <arg name="desc" default="true" />

        <node name="ca_driver" pkg="ca_driver" type="ca_driver" output="screen">
            <rosparam command="load" file="$(arg config)" />
            <param name="robot_model" value="CREATE_2" />
        </node>
	</group>

	<group if="$(eval base =='kobuki')">
		<include file="$(find base_navigation)/launch/turtlebot_main.launch"/>
	</group>

</launch>