<launch>
	
  <!-- Start the RPLidar S1 -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port" type="string" value="/dev/rplidar"/> 
    <param name="serial_baudrate"     type="int"    value="256000"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
	
  <node pkg="tf" type="static_transform_publisher" name="map_nav_broadcaster" args="-0.0062 0 0.3556 0 -3.141592653589 -3.141592653589 base_footprint laser 100" ns="hector"/>

  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    
    <param name="scan_topic" value="/scan" />
    <param name="base_frame" value="base_footprint"/>        
    <param name="odom_frame" value="odom"/>
    <param name="pub_map_scanmatch_transform" value="false"/>
    <param name="pub_map_odom_transform" value="true"/>
    <param name="map_frame" value="map" />

    <remap from="map" to="/occupancy_map"/>

    <!-- <param name="output_timing" value="false"/>
    <param name="use_tf_scan_transformation" value="true"/>
    <param name="use_tf_pose_start_estimate" value="false"/>
    <param name="map_pub_period" value="1.0"/>
    <param name="laser_z_min_value" value = "-0.3"/>
    <param name="update_factor_free" value="0.3"/>
    <param name="map_resolution" value="0.05"/>
    <param name="map_size" value="1024"/>
    <param name="map_start_x" value="0.5"/>
    <param name="map_start_y" value="0.5"/>
    <param name="map_multi_res_levels" value="1"/> -->
  </node>

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" /> -->

	</launch>
