<launch>
            
                <include file="$(find locobot_control)/launch/position_control_arm.launch">
                    <arg name="profile_velocity" value="10"/>
                    <arg name="profile_acceleration" value="5"/>
                </include>
            
            
            
        

        <node name="calibration_tf_broadcaster" pkg="locobot_calibration"
              type="calibration_publish_transforms.py"/>
        <include file="$(find locobot_moveit_config)/launch/demo.launch">
            <arg name="use_rviz" value="true"/>
        </include>
</launch>