<launch>
    <arg name="device_name" default="/dev/ttyUSB_dyna"/>
    <arg name="baud_rate" default="1000000"/>

    <arg name="scan_range" default="10"/>

    <arg name="profile_velocity" default="20"/>
    <arg name="profile_acceleration" default="10"/>

    <param name="device_name" value="$(arg device_name)"/>
    <param name="baud_rate" value="$(arg baud_rate)"/>

    <param name="scan_range" value="$(arg scan_range)"/>

    <param name="profile_velocity" value="$(arg profile_velocity)"/>
    <param name="profile_acceleration" value="$(arg profile_acceleration)"/>

    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
    <node name="locobot_control" pkg="locobot_control" type="locobot_control" required="true" output="screen"/>
</launch>
