[submodule "robots/LoCoBot/thirdparty/create_autonomy"]
	path = robots/LoCoBot/thirdparty/create_autonomy
	url = https://github.com/AutonomyLab/create_autonomy
[submodule "robots/LoCoBot/thirdparty/dynamixel-workbench"]	
	path = robots/LoCoBot/thirdparty/dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench.git
[submodule "robots/LoCoBot/thirdparty/DynamixelSDK"]
	path = robots/LoCoBot/thirdparty/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "robots/LoCoBot/thirdparty/dynamixel-workbench-msgs"]
	path = robots/LoCoBot/thirdparty/dynamixel-workbench-msgs
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench-msgs.git
[submodule "robots/LoCoBot/thirdparty/ros_control"]
	path = robots/LoCoBot/thirdparty/ros_control
	url = https://github.com/ros-controls/ros_control.git
[submodule "robots/LoCoBot/thirdparty/ORB_SLAM2"]
	path = robots/LoCoBot/thirdparty/ORB_SLAM2
	url = https://github.com/taochenshh/ORB_SLAM2.git
[submodule "robots/LoCoBot/thirdparty/ar_track_alvar"]
	path = robots/LoCoBot/thirdparty/ar_track_alvar
	url = https://github.com/s-gupta/ar_track_alvar.git
