<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="panda_transmission" params="robot_name load_gripper">


        <!-- Load Gazebo lib and set the robot namespace -->
        <gazebo>
            <plugin name="panda_ros_control" filename="libpanda_gazebo_ros_control.so">
                <robotNamespace></robotNamespace>
                <robotSimType>panda_gazebo/PandaRobotHWSim</robotSimType>
                <controlPeriod>0.001</controlPeriod>
                <eStopTopic>sim_estop</eStopTopic>
            </plugin>
<!--             <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>/panda_simulator/</robotNamespace>
                <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
                <legacyModeNS>true</legacyModeNS>
              </plugin> -->
        </gazebo>


        <transmission name="${robot_name}_tran_1">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_name}_joint1">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${robot_name}_motor_1">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${robot_name}_tran_2">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_name}_joint2">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${robot_name}_motor_2">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${robot_name}_tran_3">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_name}_joint3">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${robot_name}_motor_3">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${robot_name}_tran_4">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_name}_joint4">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${robot_name}_motor_4">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${robot_name}_tran_5">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_name}_joint5">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${robot_name}_motor_5">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${robot_name}_tran_6">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_name}_joint6">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${robot_name}_motor_6">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${robot_name}_tran_7">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_name}_joint7">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${robot_name}_motor_7">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        <xacro:if value="${load_gripper}">
            <transmission name="${robot_name}_leftfinger">
                <type>transmission_interface/SimpleTransmission</type>
                <joint name="${robot_name}_finger_joint1">
                    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                </joint>
                <actuator name="${robot_name}_finger_joint1">
                    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                    <mechanicalReduction>1</mechanicalReduction>
                </actuator>
            </transmission>

            <transmission name="${robot_name}_rightfinger">
                <type>transmission_interface/SimpleTransmission</type>
                <joint name="${robot_name}_finger_joint2">
                    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                </joint>
                <actuator name="${robot_name}_finger_joint2">
                    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                    <mechanicalReduction>1</mechanicalReduction>
                </actuator>
            </transmission>
        </xacro:if>
    </xacro:macro>
</robot>
