<launch>
    <arg name="im_width" default="640"/>
    <arg name="im_height" default="480"/>
    <arg name="min_depth" default="0.20"/>
    <arg name="max_depth" default="8.0"/>
    <!--<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">-->
    <!--<arg name="min_depth"     value="$(arg min_depth)"/>-->
    <!--<arg name="max_depth"     value="$(arg max_depth)"/>-->
    <!--<arg name="output"        value="log"/>-->
    <!--</include>-->
    <node name="launch_kinect2" pkg="orb_slam2_ros" type="launch_kinect2.sh"/>
    <node name="orb_slam2_rgbd" pkg="orb_slam2_ros" type="orb_slam2_rgbd"
          output="screen" cwd="node">
        <param name="voc_file" value="$(env ORBSLAM2_LIBRARY_PATH)/Vocabulary/ORBvoc.bin"/>
        <param name="settings_file" value="$(find orb_slam2_ros)/cfg/kinect2_qhd.yaml"/>
        <param name="rgb_topic" value="/kinect2/qhd/image_color_rect"/>
        <param name="depth_topic" value="/kinect2/qhd/image_depth_rect"/>
    </node>
</launch>