numpy==1.16.0
scipy==1.2.0
matplotlib==2.2.3
ipython==5.8.0
Pillow==8.2.0
https://download.pytorch.org/whl/cpu/torch-1.0.0-cp27-cp27mu-linux_x86_64.whl
torchvision==0.2.1
opencv-python==4.0.0.21
open3d_python==0.5.0.0
bezier==0.9.0
