<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <arg name="joint_pub" default="true"/>
  <param
    name="robot_description"
    textfile="$(find locobot_description)/urdf/locobot_description.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <group if="$(arg joint_pub)">
     <node
      name="joint_state_publisher"
      pkg="joint_state_publisher"
      type="joint_state_publisher" />
  </group>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find locobot_description)/urdf.rviz" />
</launch>
